.sidebar {
    width: 240px;
    background: #ffffff;
    padding: 30px 20px;
    border-right: 1px solid #eee;
}

/* Title */
.sidebar-title {
    font-size: 22px;
    font-weight: 700;
    color: var(--purple-dark);
}

/* Linky */
.nav-link {
    padding: 12px 18px;
    font-size: 16px;
    color: #666;
    border-radius: 12px;
}

.nav-link.active,
.nav-link:hover {
    background: #f3ecff;
    color: var(--purple-dark);
}

/* USER BOX BOTTOM */
.user-box {
    background: #f6f0ff;
    border-radius: 14px;
}


.content-box {
    background: white;
    border-radius: var(--radius);
    max-width: 1200px;        /* pevná šířka obsahu */
    margin: 0 auto;           /* vystředění */
    width: 100%;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    background: #d9d2ff;
}
